td {
    max-width: 450px;
    min-width: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
div.flex.fd-c #sortable_wrapper div.row:nth-of-type(2) div.col-sm-12 { overflow:scroll; }